@using CapaNegocio.Entidades;
@* Indicamos que vamos a utilizar una lista de colores como modelo *@
@model List<Color>;

@* Esta función debería pintar el nombre de cada uno de los colores *@
@foreach (var color in Model)
{
    <p>@color.Nombre</p>
}